@import 'font.css';
@import 'variables.css';

body {
  font-family: 'Circular Std', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373f49;
  background: #eee;
  margin: 0;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-gap: 7.5vmin 5vmin;
  justify-content: center;
}

/**
 *
 */
.section-headline {
  font-size: 1.5rem;
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 0.5rem;
}

@media screen and (min-width: 801px) {
  .container {
    padding: 0 1rem;
  }
}

