@import 'font.css';
@import 'variables.css';
@import 'typography.css';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Circular Std', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: var(--few-black);
  margin: 0;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.3;
}

a {
  color: currentColor;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
