.verticallyCenter {
  display: inline-flex;
  align-items: center;
}

.header {
  composes: verticallyCenter;
  border-block-end: var(--few-border-1);
  height: 60px;
  width: 100%;
}

@media screen and (min-width: 801px) {
  .header {
    height: 110px;
  }
}

.link {
  composes: verticallyCenter;
  text-decoration: none;
  font-size: 18px;
}

.logo {
  margin-right: 0.5rem;
}
