.hero {
  border-block-end: var(--few-border-1);
  padding: 3.5rem 0;
}

.title {
  font-weight: 900;
  font-size: 2rem;
  line-height: 113%;
}

.subtitle {
  font-size: 1rem;
  line-height: 120%;
}

@media screen and (min-width: 801px) {
  .hero {
    padding: 3.5rem 0;
  }

  .title {
    font-size: 3.75rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
