.hero {
  border-bottom: var(--few-border);
}

.title {
  font-weight: 900;
  font-size: 2rem;
  line-height: 113%;
}

.subtitle {
  font-size: 1rem;
  line-height: 120%;
}

@media screen and (min-width: 801px) {
  .title {
    font-size: 3.75rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
