.sessionList {
  padding: 1.5rem 0 4rem;
  margin: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
}

@media (min-width: 1024px) {
  .sessionList {
    padding-top: 3rem;
    grid-gap: 2.5rem;
  }
}