.wrapper {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  order: 1;
}

.session {
  padding: 1.5rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  background: linear-gradient(
    360deg,
    #2a0c2b -3.95%,
    rgba(30, 80, 133, 0) 84.58%,
    rgba(255, 255, 255, 0.155531) 84.58%
  );
}

.strechedLink {
  text-decoration: none;
}

.strechedLink::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}

.btn {
  display: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transform-origin: center;
  transform: scale(0.3) translateY(-50%);
  transition: transform 0.25s, opacity 0.3s;
}

@media screen and (min-width: 801px) {
  .btn {
    display: inline-block;
  }
}

.session:hover .btn,
.session:focus .btn {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateY(-50%);
}
.session:focus-within .btn {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateY(-50%);
}

.time {
  font-size: 0.75rem;
}
